.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar-links a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar-links {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

.navbar-links.open {
  max-height: 200px; /* Adjust according to the number of links */
}


@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
  }
  
  .navbar-links.open {
    max-height: 200px; /* Adjust according to the number of links */
  }
  
}
