nav {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(54, 150, 39);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
    display: flex;
    align-items: center;
}

.list a {
    text-decoration: none;
    padding: 20px;
}

.list a:hover {
    color: tomato;
    text-decoration: underline;
}

.icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

.container {
    height: auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.register {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(62, 62, 62, 0.1);
    border-radius: 10px;
}

.register h1 {
    text-align: center;
}

.register label {
    margin-bottom: 5px;
    margin-left: 20px;
}

.register input {
    width: 280px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
}

.register button {
    background-color: #007bff;
    width: 280px;
    padding: 10px;
    margin: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 30px;
}

.register button:hover {
    background-color: #ccc;
    color: black;
}

@media screen and (max-width: 700px) {
    nav {
        background-color: rgb(169, 169, 169);
        height: auto;
    }

    .logo {
        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(169, 169, 169);
    }

    .list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .list a {
        display: block;
        color: rgb(6, 6, 6);
        padding: 10px 0;
        margin: 0;
    }

    .list a:hover {
        color: #050381;
    }

    .icon {
        display: block;
        margin-left: 100px;
    }

    .container {
        height: 300px;
        width: 300px;
    }

    .register h1 {
        color: #007bff;
    }

    .register input {
        width: 230px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 20px;
    }

    .register button {
        background-color: #007bff;
        width: 240px;
        color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-left: 30px;
        margin-bottom: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .register button:hover {
        background-color: burlywood;
        color: black;
    }

    .list.show {
        display: flex;
    }
}
