body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(236, 236, 228);
}

.background{
    background-color: rgb(236, 236, 228);
    height: auto;
    width: 100%;
}

.background img{
    width: 50%;
    height: 500px;
    margin-left: 600px;
}

h1 {
    text-align: center;
    color: #333;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

button:hover {
    background-color: #9e9a9a;
}

#book-list {
    list-style-type:circle;
    padding: 10;
}



.favorite {
    color: red;
}
